* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  background-color: #232946;
  color: #f2f2f2;
  font-size: 16px;
  line-height: 1.2em;
}

main {
 position: relative;
 margin: 30px auto;
}

.header {
color: #232946
font-size: 12px
letter-spacing:
text-transform: uppercase;
text-align: right;
width: 100vw;

}
