* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  background-color: #232946;
  color: #f2f2f2;
  font-size: 16px;
  line-height: 1.2em;
}

main {
 position: relative;
 margin: 75px auto;
 top: 100px;
  
}

header {
 width: 100vw;
 text-transform: uppercase;
 text-align: right;
 position: fixed;
 font-size: 12px
 letter-spacing: 1.2;
 padding: 10px;
 z-index: 10;
 background-color: #e45858
}

nav a{
 padding: 0 10px; 
 display: inline;
 color: #232946;
 text-decoration: none;

.websitename {
  font-weight: 800;
  float: left;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2;
  margin-bottom: 10px;

}

.picture {
  width: 100%; 
  height: auto;
  border-radius: 15px;

.scary {
  float: right;
  position: sticky;
  top: 50px;
}

.story {
  margin-top: 30px; 
  text-align: justify;
  padding: 8px;
}

  em { 
    font-style: italic; 
    color: #e45858

  a {
    color: #232946
  }

a: hover {
 color: #d1d1e9
 text-decoration: none;
  
  }

